{exp:freeform:entries
    form_name="gift_cards"
    search:secret_hash="={segment_3}"
    limit="1"
    dynamic="no"
    status="pending|open|closed"
    }
    <?php 
        $amount = "{freeform:field:total_amount}";
        $reference_no = "{freeform:entry_id}";
        $url_hash = "{freeform:field:secret_hash}";
        $description = "Payment for Gift Card Entry {freeform:entry_id}";
        $name = "{freeform:field:total_amount}";
        $address = "{freeform:field:address}";
        $city = "{freeform:field:city}";
        $state = "{freeform:field:state}";
        $postal_code = "{freeform:field:zip}";
        $country = "{freeform:field:country}";
        $phone = "{freeform:field:mobile}";
        $email = "{freeform:field:email}";
    ?>
{/exp:freeform:entries}
<?php
$account_id = 12567;
$secret = 'e2163d7fc1fd1b6f2f73cad23ee9d663';
$return_url = '{site_url}gift-cards/response/'.$url_hash.'?DR={DR}';
//$mode = "LIVE";
$mode = "TEST";
$hash = $secret."|".$account_id."|".$amount."|".$reference_no."|".$return_url."|".$mode;
$secure_hash = md5($hash);

?>
<html>
  <body onload="document.frmTransaction.submit();">
    <form  method="post" action="https://secure.ebs.in/pg/ma/sale/pay" name="frmTransaction" id="frmTransaction" onSubmit="return validate()">

     <input name="account_id" type="hidden" value="<?php echo $account_id; ?>">
     <input name="return_url" type="hidden" size="60" value="<?php echo $return_url; ?>" />
     <input name="mode" type="hidden" size="60" value="<?php echo $mode; ?>" />
     <input name="reference_no" type="hidden" value="<?php echo  $reference_no; ?>" />
     <input name="amount" type="hidden" value="<?php echo $amount;?>"/>
     <input name="description" type="hidden" value="<?php echo $description; ?>" /> 
     <input name="name" type="hidden" maxlength="255" value="<?php echo $name; ?>" />
     <input name="address" type="hidden" maxlength="255" value="<?php echo $address; ?>" />
     <input name="city" type="hidden" maxlength="255" value="<?php echo $city; ?>" />
     <input name="state" type="hidden" maxlength="255" value="<?php echo $state; ?>" />
     <input name="postal_code" type="hidden" maxlength="255" value="<?php echo $postal_code; ?>" />
     <input name="country" type="hidden" maxlength="255" value="<?php echo $country; ?>" />
     <input name="phone" type="hidden" maxlength="255" value="<?php echo $phone; ?>" />
     <input name="email" type="hidden" size="60" value="<?php echo $email;?>" />
     <input name="secure_hash" type="hidden" size="60" value="<?php echo $secure_hash;?>" />
     <!--<input name="submitted" value="Submit" type="submit" />-->

    </form>
    <div>
      <p style="margin:200px auto;width: 250px;"><strong>Processing request, please wait...</strong></p>
    </div>

{!-- Google Analytics --}
{embed="modules/google-analytics"}

  </body>
</html>
