<!DOCTYPE html>

<html>

	{embed="modules/head"}
<body>

	{embed="modules/header"}

        <section id="plan-visual">

                <div id="gift-card-frame">

                        <div id="gift-cards-block">

                                <h1>Give them a gift they'll never forget</h1>
                                <h2>
                                From forest hideouts to eco resorts and heritage villas, our getaway experiences make for unforgettable memories. The kind of gift they'll fall in love with several times over.
                                </h2>
                                
                        </div>		

            </div>

        </section>

        <section class="wrapper">

                <section id="main">
                    <section id="gift-reasons">
                        <div class="inform">
                            <div class="hold">

                                    <div class="column column-l">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Incredibly unforgettable</h3>
                                                            </div><!-- title -->
                                                            <p>Our getaways are hand-picked for their uniqueness and charm – which means they get an incredible experience that lingers a long time after their actual stay. The kind of gift that keeps on giving.</p>
                                                    </article>
                                    </div><!-- column -->
                                    <div class="column column-l">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Gorgeously designed</h3>
                                                            </div><!-- title -->
                                                            <p>A great gift makes you feel just as good giving it as does the person receiving it. Which is why our gift card emails are  painstakingly designed. When you look good, we feel good :)</p>
                                                    </article>
                                    </div><!-- column -->
                                    <div class="column column-l noborder-right">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Lets them choose</h3>
                                                            </div><!-- title -->
                                                            <p>Receiving a Myoki gift card means they can not only pick where to go but also when to go. And if they need help deciding, we're just an email/call away.</p>
                                                    </article>
                                    </div><!-- column -->
                                    <div class="column column-l noborder-bottom second-column">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Instantly delivered</h3>
                                                            </div><!-- title -->
                                                            <p>Our gift card emails are instantly delivered. What's more, if you're gifting ahead of time you can even pick the day you want the email to be delivered.</p>
                                                    </article>
                                    </div><!-- column -->
                                    <div class="column column-l noborder-bottom second-column">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Redeem multiple times</h3>
                                                            </div><!-- title -->
                                                            <p>Our gift cards can be redeemed as many times as required. Which means they can either take one large vacation or break it up into smaller ones until the gift amount is exhausted.</p>
                                                    </article>
                                    </div><!-- column -->
                                    <div class="column column-l noborder-right noborder-bottom second-column">
                                                    <article>
                                                            <span class="number"></span>
                                                            <div class="title">
                                                                <h3>Valid upto a year</h3>
                                                            </div><!-- title -->
                                                            <p>Travel plans can be difficult to finalise. Which is why Myoki gift cards are valid for a full year after purchase, no hurry.</p>
                                                    </article>
                                    </div><!-- column -->

                            </div>
                        </div>
                    </section>
                    
                    <section id="customize-gift">
                        
                        <div class="gift-steps">
                            <h3>Customize your Gift Card</h3>
                            <div class="step-1 step">
                                <span class="number">1</span>
                                <div class="title">
                                    <h4>Pick a design</h4>
                                </div><!-- title -->
                            </div>
                            
                            <div class="step-2 step">
                                <span class="number">2</span>
                                <div class="title">
                                    <h4>Choose your gift amount and delivery date</h4>
                                </div><!-- title -->
                            </div>
                            
                            <div class="step-3 step">
                                <span class="number">3</span>
                                <div class="title">
                                    <h4>Customize your gift card email</h4>
                                </div><!-- title -->
                            </div>
                            
                        </div>
                        
                    </section>
                    
                </section><!-- main -->

                {embed="modules/footer"}

        </section><!-- wrapper -->	

</body>
</html>