<!DOCTYPE html>

<html>

	{embed="modules/head"}
<body>

	{embed="modules/header"}

        <section id="plan-visual">
            {exp:freeform:entries
                form_name="gift_cards"
                search:secret_hash="={segment_3}"
                limit="1"
                dynamic="no"
                status="pending|open|closed"    
              } 
            <div id="gift-card-thanks">
                <div class="thanks-note">   
                    <img src="/uploads/static/gift-box.png" />
                    <h1>Thanks, you're all done!</h1>
                    <p>We'll email your gift card of Rs. {freeform:field:gift_amount_paid} to {freeform:field:receiver_email} on {freeform:field:email_delivery_date}. We'll also send you a confirmation email of your gift card purchase for reference.</p>
                </div>

            </div>
            <!-- Google Code for Gift Purchase Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 950028576;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "fky7CJWY2FwQoJKBxQM";
            var google_conversion_value = 500.00;
            var google_conversion_currency = "INR";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/950028576/?value=500.00&amp;currency_code=INR&amp;label=fky7CJWY2FwQoJKBxQM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>
            {/exp:freeform:entries}
        </section>

        {embed="modules/footer"}

</body>

</html>