.DS_Store

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*

## Local config settings
/public_html/config/config.local.php

## Cache folders
/public_html/ee-framework/expressionengine/cache/*
/public_html/ee-framework/expressionengine/cache/.htaccess
/public_html/ee-framework/expressionengine/cache/index.html

##Uploads ignore
/public_html/uploads/*

/public_html/deploy.php

## Ignore sublime text projects
myoki.sublime-project
myoki.sublime-workspace
/public_html/templates/default_site/modules.group/booking-form.sublime-workspace
