.DS_Store

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*

## local config settings
/public_html/config/config.local.php

## Cache folders
/public_html/ee-framework/expressionengine/cache/*
/public_html/ee-framework/expressionengine/cache/.htaccess
/public_html/ee-framework/expressionengine/cache/index.html

##Uploads ignore
/public_html/uploads/*