                <div class="blog-listing">
                    {exp:channel:entries
                        channel="blog"
                        dynamic="yes"}
                        
                        <div class="blog-item">
                            <div class="blog-header">
                                <div class="date">	
                                    <span class="post-date">{entry_date format="%M"}</span>
                                    <span class="post-day">{entry_date format="%d"}</span>
                                    <span class="post-year">{entry_date format="%Y"}</span>
                                </div>
                                <h2 class="post-title clearfix"><a href="/blog/{url_title}" title="" rel="bookmark">{title}</a></h2>
                            </div>
                            <div class="blog-content">
                                {blog_body}
                            </div>
                            
                            <div class="share-blog">
                                <div>
                                    <ul class="socials">
					<li>
						<a href="http://www.facebook.com/myoki.in" target="_blank" class="facebook">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/myokiteam" target="_blank" class="twitter">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="http://pinterest.com/myokiteam" target="_blank" class="pinterest">
							<span class="fa fa-pinterest fa-2x"></span>
						</a>
					</li>
				</ul>
                                </div>
                            </div>
                        </div>
                    {/exp:channel:entries}  
                    </div>
                    
                    <div class="blog-sidebar">
                        
                    </div>