<!DOCTYPE html>

<html>

	{embed="modules/head"}
<body>

	{embed="modules/header"}

        <section id="plan-visual">
            
            <img src="http://placehold.it/1500x300&text=Myoki%20Magazine%20-%20The%20lil%20untold%20stories" />
                
        </section>

        <section class="wrapper">

                <section id="main">
                    
                    
                </section><!-- main -->

        </section><!-- wrapper -->	

        {embed="modules/footer"}

</body>

</html>