<!DOCTYPE html>

<html>

	{embed="modules/head"}
<body>

	{embed="modules/header"}

        <section id="plan-visual">
            
            <img src="http://placehold.it/1500x300&text=Myoki%20Magazine%20-%20The%20lil%20untold%20stories" />
                
        </section>

        <section class="wrapper">

                <section id="main">
                    {if segment_2 == ""}
                    <div class="blog-listing">
                    {exp:channel:entries
                        channel="blog"
                        limit="7" 
                        paginate="bottom" 
                        paginate_base="/blog/page/"}
                        
                        <div class="blog-item">
                            <div class="blog-header">
                                <div class="date">	
                                    <span class="post-date">{entry_date format="%M"}</span>
                                    <span class="post-day">{entry_date format="%d"}</span>
                                    <span class="post-year">{entry_date format="%Y"}</span>
                                </div>
                                <h2 class="post-title clearfix"><a href="/blog/{url_title}" title="" rel="bookmark">{title}</a></h2>
                            </div>
                            <div class="blog-content">
                                <div class="blog-promo"> 
                                    {exp:channel_images:images field="blog_promo" entry_id="{entry_id}" limit="1"}
                                        <img src="{image:url:blog_large}" />       
                                    {/exp:channel_images:images}
                                </div>
                                <p>{blog_short_story}</p>
                                
                                <a href="/blog/{url_title}" class="ladda-button js_hide_next" data-color="myoki" data-size="l" data-style="expand-right">
                                    <span class="ladda-label">read more</span>
                                    <span class="ladda-spinner"></span>
                                    <div class="ladda-progress" style="width: 0px;"></div>
                                </a>
                            </div>
                            
                            <div class="share-blog">
                                <div>
                                    <ul class="socials">
					<li>
						<a class="fb-share-button facebook" data-href="{site_url}/blog/{url_title}" href="#">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/myokiteam" target="_blank" class="twitter">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="http://pinterest.com/myokiteam" target="_blank" class="pinterest">
							<span class="fa fa-pinterest fa-2x"></span>
						</a>
					</li>
				</ul>
                                </div>
                            </div>
                        </div>
                        {paginate}
                            {if next_page}
                            <div class="navigation next">
                                <a href="{auto_path}" class="ladda-button js_hide_next" data-color="myoki" data-size="l" data-style="expand-right">
                                    <span class="ladda-label">See more stories</span>
                                    <span class="ladda-spinner"></span>
                                    <div class="ladda-progress" style="width: 0px;"></div>
                                </a>
                            </div>
                            {/if}
                            {if "{current_page}" == "{total_pages}"  }
                            <p class="all-msg">-- Ay caramba! You've reached the end --</p>
                            {/if}
                        {/paginate}
                    {/exp:channel:entries}  
                    </div>
                    
                    <div class="blog-sidebar">
                        
                    </div>
                    {/if}
                    
                    {if segment_2 != ""}
                        {embed="blog/_entry"}
                    {/if}
                    <div style="clear:both;"></div>
                </section><!-- main -->

        </section><!-- wrapper -->	

        {embed="modules/footer"}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=210983115615752";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>

</html>