
{embed="modules/header"}

{embed="modules/home-visual"}

<section class="wrapper">
	
	<section id="main">
		
		<div class="heading">
			<span class="txt">Don't know where to go?</span><span class="compass">Compass</span><span class="txt2">Here's a lil' inspiration.</span>
		</div><!-- heading -->
		
		{embed="modules/home-gallery"}
	
	</section><!-- main -->

	<section id="testimonials">
		
		{embed="modules/home-testimonials"}

	</section>
	
	{embed="modules/footer"}

</section><!-- wrapper -->