
{embed="modules/header"}

{embed="modules/home-visual"}

<section class="wrapper">
	
	<section id="main">
		
		<div class="heading">
			<h2>Discover & book incredible stays – from weekend getaways near Mumbai and Pune to incredible eco-resorts and beach-side getaways in Goa and Pondicherry.</h2>

			<!-- <span class="txt">Don't know where to go?</span><span class="compass">Compass</span><span class="txt2">Here's a lil' inspiration.</span> -->
			<h3>Don't know where to go? Here's a lil' inspiration</h3>
		</div><!-- heading -->
		
		{embed="modules/home-gallery"}
	
	</section><!-- main -->
	
	{embed="modules/home-testimonials"}
	
	{embed="modules/footer"}

</section><!-- wrapper -->