<!-- <section id="plan-visual">

	<div id="plan-frame">

		<div id="plan-pitch">
			
			<h1>About Myoki!!!!</h1>
			<h2 class="first-para">
				According to recent research, the best money you can spend is on experiences like travel. We’re no scientists, but that sounds just about right to us <span id="pitch-smiley">:)</span>
			</h2>
			<h2>
				With Myoki's trip planning service, you can stop worrying about budgets, reservations & schedules, and instead focus on the important stuff – the wonders of a new place!
			</h2>
			<div id="plan-email">Plan your trip with us: <a href="mailto:team@myoki.in">team@myoki.in</a></div>

		</div>		
	
    </div>

</section> -->


<section id="about-wrapper-bg">

	<div id="about-wrapper-content">

		<div id="about-problems">
			
			<h1>Do these problems sound familiar?</h1>

			<ul>
				
				<li>
					Everyday feels the same...I know I need a break, but I can’t take too many days off from work...with so few days, where do I go?
				</li>

				<li>
					We wanted a vacation for the longest time...especially something special for the kids to remember. But with both of us commuting and working through the week, we just couldn't get around to planning a vacation...
				</li>

				<li>
					It's been ages since we did something romantic... For our last anniversary we went to our usual restaurant...which was nice...but didn’t feel very different from what we usually do...
				</li>

				<li>
					Our gang keeps talking about taking a vacation together...but somehow it just doesn't happen. Plus there are hardly any places that are reasonably priced and are nearby...
				</li>

			</ul>

			<h2>
				...we’ve lost count of how many times we’ve heard these. But it doesn’t have to be this way!
			</h2>

		</div>

		<div id="about-what">

			<h1>Myoki. Travel getaways done right </h1>

			<p>
				At Myoki, our goal is to build the <strong>best travel service for short vacations within India.</strong> We understand that when you have just a few days free, your stay is as much a part of the experience as the place you're travelling to.
			</p>

			<p>
				This means with Myokit you get <strong>real people who've personally travelled to and hand-picked each getaway</strong> – everything from royal rajasthani palaces and tree-houses located amidst lush forests to quaint portuguese villas with their own swimming pools.
			</p>

			<p>
				This also means <strong>no more wasted hours searching for places on Google...and still not be sure. Call/email us anytime – we'd love to help!</strong>
			</p>

			<p>
				...and <strong>yes, you could always look for a hotel on general-purpose travel websites</strong> (which we think are great at what they do)...<strong>if what you need is a room to stay at, and not an experience in itself.</strong>
			</p>

		</div>

		<div id="about-reasons">
			<div class="about-reasons-title">3 reasons to book with Myoki</div>
			<ol>
				<li>
					<h2>Hand-picked getaways with personalized service</h2>
					<p>We personally visit each getaway. This means whether you’re looking for a place your kids will love or the perfect romantic getaway, we can help since we’ve actually been there :)</p>
				</li>

				<li>
					<h2>One-of-a-kind villas for amazing group vacations</h2>
					<p>Once you’ve stayed at our villas, you’ll never want to stay at a hotel again. Picture this: you and your friends lounging by the pool kicking back with a beer or two in a cozy, portuguese mansion that’s all your own! Sure beats meeting up in a hotel corridor, doesn’t it?</p>
				</li>

				<li>
					<h2>Lowest rates. Guaranteed!</h2>
					<p>We understand that price matters. When you book with us, you’re booking with real people that can get better rates than the fully-automatic systems of general-purpose travel websites. Always. In the oft-chance that you come across better rates, let us know and we’ll match it.</p>
				</li>
			</ol>
		</div>

		<div id="about-testimonials">
			
			<h1>But don't take our word for it...Here's what our customers have to say</h1>
			<div class="about-testimonial-posters">
				<img src=""></img>
				<img src=""></img>
			</div>

			<h2>...there's more!</h2>

			{embed="modules/testimonials-list"}

		</div>

		<div id="about-cta">

			<h1>Travel now! Check out our getaways in</h1>

			{if group_id == "1"}
				{embed="modules/states-dropdown" preview="open|closed"}

			{if:else}
				{embed="modules/states-dropdown" preview="open"}

			{/if}

			<h2>or directly email us: <a href="mailto:team@myoki.in">team@myoki.in</a></h2>

		</div>
	
    </div>

</section>

