<footer>

<a id="footer-hello" href="{site_url}about"></a>

<div id="footer-content">

	<section class="frame">

		<div class="box">
			<div class="box-inner">
				<h3>Browse getaways in </h3>
				<ul id="footer-getaways">
				{exp:channel:entries channel="state" status="{embed:preview}" orderby="date" sort="asc" dynamic="no"}
					{exp:channel_images:images entry_id="{entry_id}" limit="1"}
						<li>
							<a href="{site_url}{url_title}/">{title}</a>
						</li>
					{/exp:channel_images:images}
				{/exp:channel:entries}
				</ul>
			</div>
		</div><!-- box -->

		<div class="box">
			<div class="box-inner">
				<h3>Speak to us</h3>
				<ul class="socials">
					<li>
						<a href="tel:+919920910133" class="phone">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
							</span>
							<span>+91 9920910133</span>
						</a>
					</li>
					<li>
						<a href="mailto:team@myoki.in" class="email">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
							</span>
							<span>team@myoki.in</span>
						</a>
					</li>
					<li>
						<a href="http://www.facebook.com/myoki.in" target="_blank" class="facebook">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="http://instagram.com/myoki.in.wanderland" target="_blank" class="instagram">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
							</span>
							<span>Instagram</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/myokiteam" target="_blank" class="twitter">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
							<span>Twitter</span>
						</a>
					</li>
					<li>
						<a href="http://pinterest.com/myokiteam" target="_blank" class="pinterest">
							<span class="fa fa-pinterest fa-2x"></span>
							<span>Pinterest</span>
						</a>
					</li>
				</ul>
			</div>
		</div><!-- box -->

		<div id="footer-reasons" class="box">
			<div class="box-inner">
				<a href="{site_url}about"></a>
			</div>
		</div><!-- box -->

		<div class="box">
			<div class="box-inner">
				<h3>Things we like to tweet : )</h3>
				<div class="tweet-box">
					<p id="twitter">Loading ...</p>
				</div>
			</div>
		</div><!-- box -->

	</section><!-- frame -->

	<p class="copy">&copy; Myoki {current_time format="%Y"}.  All rights reserved. Live free, stay curious.</p>
	
</div>

</footer><!-- footer -->




<script>
$.getJSON("/twitter-oauth.php")
  .done(function(data) {
     if(!data.errors) {
       $("#twitter").html(data[0].text);
     } else {
       $("#twitter").html("Oops! Twitter not availabe at the moment");
     }
  })
  .fail(function( jqxhr, textStatus, error ) {
     $("#twitter").html("Oops! Twitter not availabe at the moment");
  });  
</script>

