<footer>

<a id="footer-hello" href="{site_url}about"></a>

<div id="footer-content">
	<section class="frame">
		<div class="box">
			<h3>Speak to us</h3>
			<ul class="socials">
				<li class="phone">+91 9167041258</li>
				<li class="email"><a href="mailto:team@myoki.in"><span>team@myoki.in</span></a></li>
				<li>
					<a href="http://www.facebook.com/myoki.in" target="_blank" class="facebook"><span>Facebook</span></a>
				</li>
				<li>
					<a href="https://twitter.com/myokiteam" target="_blank" class="twitter"><span>Twitter</span></a>
				</li>
				<li>
					<a href="http://pinterest.com/myokiteam" target="_blank" class="pinterest"><span>Pinterest</span></a>
				</li>
			</ul>
		</div><!-- box -->

		<div id="footer-reasons" class="box box2">
			<a href="{site_url}about"></a>
		</div><!-- box -->

		<div class="box box3">
			<h3>Things we like to tweet : )</h3>
			<div class="tweet-box">
				<p id="twitter">Loading ...</p>
			</div>
		</div><!-- box -->

		<div class="box4">
			<div id="newsletter-stamp"></div>
			<h3>Newsletter</h3>
			<p>Get new travel stories and vacation spots delivered right to your inbox!</p>
			<form action="http://myoki.us5.list-manage1.com/subscribe/post?u=b5d379e7c492991cca0269739&amp;id=cd98445efe" class="form01" id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' target='_blank'>
				<fieldset>
					<input  class="email" id='mce-EMAIL' name='EMAIL' type="email" required='required' value="" placeholder="Email address" />
					<input type="submit" value="Join" class="submit" id='mc-embedded-subscribe' name='subscribe'/>
				</fieldset>
			</form>
			
		</div><!-- box -->

	</section><!-- frame -->


	<div class="sitemap">
		<div class="center">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Find a Destination</a></li>
				<li><a href="#">Personalized Trip Planning</a></li>
				<li><a id="footer-aboutus" href="#popup-aboutus">About Us</a></li>
			</ul>
		</div><!-- end center -->
	</div><!-- sitemap -->
	<p class="copy">&copy; Myoki {current_time format="%Y"}.  All rights reserved. Live free, stay curious.</p>
	
</div>

</footer><!-- footer -->




<script>
$.getJSON("{site_url}twitter-oauth.php")
  .done(function(data) {
     if(!data.errors) {
       $("#twitter").html(data[0].text);
     } else {
       $("#twitter").html("Oops! Twitter not availabe at the moment");
     }
  })
  .fail(function( jqxhr, textStatus, error ) {
     $("#twitter").html("Oops! Twitter not availabe at the moment");
  });  
</script>

