<footer>

<a id="footer-hello" href="#popup-aboutus" onclick="_gaq.push(['_trackPageview', '/about-us');"></a>

<div id="footer-content">
	<section class="frame">
		<div class="box">
			<h3>Speak to us</h3>
			<ul class="socials">
				<li class="phone">+91 9167041258</li>
				<li class="email"><a href="mailto:&#116;&#101;&#097;&#109;&#064;&#099;&#104;&#101;&#107;&#105;&#110;&#046;&#105;&#110;"><span>team@chekin.in</span></a></li>
				<li>
					<a href="http://www.facebook.com/Chekin.in" target="_blank" class="facebook"><span>Facebook</span></a>
				</li>
				<li>
					<a href="https://twitter.com/ChekinTeam" target="_blank" class="twitter"><span>Twitter</span></a>
				</li>
				<li>
					<a href="http://pinterest.com/chekin" target="_blank" class="pinterest"><span>Pinterest</span></a>
				</li>
			</ul>
		</div><!-- box -->
		<div class="box box2">
			<h3>What's new</h3>
			<a href="https://www.facebook.com/Chekin.in" id="blog"></a>
		</div><!-- box -->
		<div class="box box3">
			<h3>Things we like to tweet : )</h3>
			<div class="tweet-box">
				<p id="twitter">Loading ...</p>
			</div>
		</div><!-- box -->
		<div class="box4">
			<div id="newsletter-stamp"></div>
			<h3>Newsletter</h3>
			<p>Get new travel stories and vacation spots delivered right to your inbox!</p>
			<form action="http://chekin.us5.list-manage2.com/subscribe/post?u=b5d379e7c492991cca0269739&amp;id=cd98445efe" class="form01" id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' target='_blank'>
				<fieldset>
					<input  class="email" id='mce-EMAIL' name='EMAIL' type="email" required='required' value="" placeholder="Email address" />
					<input type="submit" value="Join" class="submit" id='mc-embedded-subscribe' name='subscribe'/>
				</fieldset>
			</form>
			
			
			
		</div><!-- box -->
	</section><!-- frame -->
	<div class="sitemap">
		<div class="center">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Find a Destination</a></li>
				<li><a href="#">Personalized Trip Planning</a></li>
				<li><a id="footer-aboutus" href="#popup-aboutus">About Us</a></li>
			</ul>
		</div><!-- end center -->
	</div><!-- sitemap -->
	<p class="copy">&copy; Chekin {current_time format="%Y"}.  All rights reserved. Live free, stay curious.</p>
	
</div>

</footer><!-- footer -->


<div class="hidden">

	<div class="popup" id="popup-aboutus">
	
		<div class="popup-holder">
		
			<div id="aboutus-intro">
				<div id="hello-there"></div>
				<h1>Hello there, fellow traveller</h1>
				<p>Chekin is our attempt to create something magical – a way to experience the best parts of India through charming homestays, forest hideouts, and lovely villas by the beach.</p>
				<p>We love that each of these places has its own blend of history, culture and a healthy dash of quirkiness; and we’d like to help you experience just that!</p>
							
			</div>
			
			<div id="aboutus-details">
					
				<h2>3 reasons why you’ll love us</h2>
				
				<dl>
					<dt id="reason-curated">Hand-picked places</dt>
					<dd>We're scouring the country for only the very best getaways. You know, the kinds of places where for a while the world seems just right. We like such places and we’re sure you will too.</dd>
					
					<dt id="reason-passionate">We care about the little stuff</dt>
					<dd>We're passionate about travel and like to sweat the details. Which means that if you need any travel advice about your trip, we're only an email or phone call away.</dd>

					<dt id="reason-cheap">Fair prices</dt>
					<dd>We understand that price matters and negotiate with property owners to get the best deals for you. In the oft-chance that you come across lower rates, please do shoot us a email.					</dd>					
					
				</dl>

			</div>

		</div>
		
	</div>
	
</div>


<div class="hidden">

	<div class="popup" id="popup-prices-personalized">
	
		<div class="popup-holder">
			
			<div id="popup-prices"> 
				<h1>Lowest rates, negotiated personally just for your booking</h1>
				<h2>We understand that price matters and negotiate every single booking with getaway owners so that you get the lowest rates; something other general-purpose booking sites just can’t do. 
				</h2>
			</div>

			<div id="popup-personalized">
				<h1>Curated getaways, personally visited and vetted by us</h1>
				<h2>We personally check out each place we feature. This also means that you get the best inside tips like, say, where to spend that perfect romantic evening or where to buy that perfect souvenir :) 
				</h2>
			</div>
				
		</div>
		
	</div>
	
</div>


<script>
$.getJSON("{site_url}twitter-oauth.php")
  .done(function(data) {
     if(!data.errors) {
       $("#twitter").html(data[0].text);
     } else {
       $("#twitter").html("Oops! Twitter not availabe at the moment");
     }
  })
  .fail(function( jqxhr, textStatus, error ) {
     $("#twitter").html("Oops! Twitter not availabe at the moment");
  });  
</script>