<noscript>
	<p>Please enable JavaScript to get the full experience.</p>
</noscript>

<header id="header">
	
	<div id="header-links">
		<a href="{site_url}about">About Us</a>
		<a href="#popup-speaktous" id="header-speaktous">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
			</span>
			<span>Speak to us</span>
		</a>

	</div>

	<div class="logo"><a href="{site_url}"><img src="{site_url}uploads/static/logo.png" width="87" height="87" alt="Myoki logo" />Myoki</a></div>
	
	<ul class="menu">

		<li class="places-list-small">
			<span class="find">FIND A GETAWAY
				{if group_id == "1"}
          {embed="modules/states-dropdown" preview="open|closed"}
        {if:else}
          {embed="modules/states-dropdown" preview="open"}
        {/if}
			</span>
		</li>
		<li><a href="{site_url}plan">PLAN YOUR TRIP</a></li>

	</ul><!-- menu -->

</header><!-- header -->

<div class="hidden">

		<div class="popup" id="popup-speaktous">
			<div class="popup-holder">

				<div id="popup-speaktous-details">
					<h3>Speak to us</h3>
					<h4>We'd love to talk :) We're available most times, but are especially perky after we've had our morning coffee – between 10 AM - 9 PM.</h4>
					<div>
						<a href="tel:+919920910133" class="phone">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
							</span>
							<span>Call Us: +91 9920910133</span>
						</a>
						<a href="mailto:team@myoki.in" class="email" target="_blank">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
							</span>
							<span>Email us: team@myoki.in</span>
						</a>
					</div>
				</div>
				<div id="popup-speaktous-reasons">
					<ul>
						<li>
							<p>Unsure about where to go?</p>
							<p>Call us! ...even if you're unsure about taking a vacation. Since we personally check out each getaway, we can help you out whether you're thinking of a group vacation, a place your kids will love or the perfect romantic break.
							</p>
						</li>
						<li>
							<p>Lowest rates. Guaranteed!</p>
							<p>We understand that price matters. Since we handle each booking individually, you often get better rates than the fully-automated systems of general-purpose travel websites.</p>
						</li>
					</ul>
				</div>

			</div>
		</div><!-- popup -->

	</div><!-- hidden -->
