<noscript>
	<p>Please enable JavaScript to get the full experience.</p>
</noscript>
<header id="header">
<!--	<nav id="nav">
    		<a id="header-aboutus" href="#popup-aboutus" onclick="_gaq.push(['_trackPageview', '/about-us']);">About us</a>
    		<a href="http://www.facebook.com/Chekin.in" target=_blank>Find us on Facebook</a>


	</nav> -->

	<div id="header-badges">
		<a id="badge-price" href="#popup-prices-personalized" onclick="_gaq.push(['_trackPageview', '/prices-personalized']);"></a>
		<a id="badge-personalized" href="#popup-prices-personalized" onclick="_gaq.push(['_trackPageview', '/prices-personalized']);"></a>
	</div>

	<h1 class="logo"><a href="{site_url}"><img src="{site_url}uploads/static/logo.png" width="87" height="87" alt="Chekin" />Chekin</a></h1>
	<ul class="menu">
		<li class="places-list-small">
			<span class="find">FIND A DESTINATION
				{if group_id == "1"}
          {embed="modules/states-dropdown" preview="open|closed"}
        {if:else}
          {embed="modules/states-dropdown" preview="open"}
        {/if}
			</span>
		</li>
		<li><a href="{site_url}plan" class="plan">PLAN YOUR TRIP</a></li>
	</ul><!-- menu -->
</header><!-- header -->