<section id="home-reasons">
	<h3>
		<span id="home-reasons-three">3</span> 
		<span id="home-reasons-desc">reasons you'll love us</span>
	</h3>
	<ul>
		<li>Hand-picked getaways with personalized service</li>
		<li>One-of-a-kind villas for amazing group vacations</li>
		<li>Lowest rates guaranteed</li>
	</ul>
</section>

<section id="testimonials">

	<div id="home-testimonials">

		<h3>But don't just take our word for it</h3>

		{embed="modules/testimonials-list"}

		<div id="more-testimonials">
			<a href="{site_url}about">...see more reasons to book</a>
		</div>

	</div>

</section><!-- testimonials-section -->