<section id="testimonials">

	<h1>Travellers seem to like us <span>:)</span></h1>

	<ul>

		<li>
			<h2 class="">Each place has been carefully hand-picked and checked out to make your stay markable, memorable and magical!</h2>
			<h3 class=""><span class="testimonial-author">Priya Mirchandani</span>, Consultant at American Express, New Delhi</h3>
		</li>

		<li>
			<h2 class="">Chekin planned my trip to Kovalam this October. Their prompt booking and service was a great start to a very special girls trip! Thank you!</h2>
			<h3 class=""><span class="testimonial-author">Anokhi Parikh</span>, Program Director at The Foundation, Mumbai</h3>
		</li>

		<li>
			<h2 class="">Makes me wanna pack my bags, take a flight and always be on a vacation!</h2>
			<h3 class=""><span class="testimonial-author">Neha Kamani</span>, Founder of Seven Hats Consulting, Mumbai</h3>
		</li>

	</ul>

</section><!-- testimonials-section -->