<div class="gallery-section">

	<a href="#" class="btn-prev">prev</a>
	<a href="#" class="btn-next">next</a>

	<div class="gmask" id="home-scroller">
		<ul class="gallery">
			{exp:channel:entries channel="hideaway" disable="categories|member_data|pagination" orderby="hideaway_featured" limit="9" dynamic="no"}
			<li>
				<div class="box">
					{exp:channel_images:images category="Home page|Listings page" limit="1" entry_id="{entry_id}"}
					<a href="{site_url}{hideaway_state}{url_title}{/hideaway_state}/{url_title}/" title="{image:description}">
						<img src="{image:url:home_page}" alt="{image:description}" />
					
					{if no_images}
						
					{/if}
				{/exp:channel_images:images}
						<h2>{title} <br/><span class="location">{hideaway_location}, {hideaway_state}{title}{/hideaway_state}</span></h2>
						<p>
						    	<span>
						    		{hideaway_one_line}
						    		<span class="gallery-view">View</span>
						    	</span>
						</p>	
					</a>
				</div>
			</li>
			{/exp:channel:entries}
		</ul>
	</div>
</div><!-- gallery-section -->