<section id="testimonials">

	<h1>Travellers seem to like us <span>:)</span></h1>

	<ul>
		<li>
			<h2 class="">We loved our personalized honeymoon at Coconut Lagoon. I also loved how they frankly recommended a cheaper room over a costlier one, since the experience is just as good - who does that?!</h2>
			<h3 class="">
				<div id="testimonial-photo-dheepikaa"></div>
				<span class="testimonial-author">Dheepikaa Balasubramanian</span>, SME at Amazon, Chennai
			</h3>
		</li>

		<li>
			<h2 class="">These guys planned our 3-day trip to Kovalam. Their prompt booking and great service made for a very special girls trip. If you're looking for an amazing experience, I'd recommend these guys in a heartbeat.</h2>
			<h3 class="">
				<div id="testimonial-photo-anokhi"></div>
				<span class="testimonial-author">Anokhi Parikh</span>, Program Director at The Foundation, Mumbai
			</h3>
		</li>

		<li>
			<h2 class="">Headed to Udaipur for our 2nd anniversary and stayed in the loveliest boutique hotels through Myoki. We especially loved their personalized tips on local eateries, places to check out and secret shopping haunts.</h2>
			<h3 class="">
				<div id="testimonial-photo-nishank"></div>
				<span class="testimonial-author">Nishank Gopalkrishnan</span>, Digital Marketing Head at BigRock.com, Mumbai
			</h3>
		</li>

		<li>
			<h2 class="">We had the most amazing time in Goa :) Our stay was warm, homely and cozy…and we loved the vindaloo, the masala chai, the cute dogs and the smiling staff! Thanks Myoki!</h2>
			<h3 class="">
				<div id="testimonial-photo-anna"></div>
				<span class="testimonial-author">Anna Jos</span>, Graduate Student at National University of Singapore
			</h3>
		</li> 

		<li>
			<h2 class="">We just checked out of our getaway. Thank you so much! Our stay was brilliant, and Raja and me really enjoyed the property and its facilities.</h2>
			<h3 class="">
				<div id="testimonial-photo-parnil"></div>
				<span class="testimonial-author">Parnil Sarin</span>, Marketing Manager at HLL, Mumbai
			</h3>
		</li>

		<li>
			<h2 class="">The best part of my Goa experience was through Myoki. I love how charming and uncommon their getaways are…and how prompt and helpful the team was. Keep it up, guys!</h2>
			<h3 class="">
				<div id="testimonial-photo-female"></div>
				<span class="testimonial-author">Krupa Mehta</span>, Graduate student at Carnegie Mellon University
			</h3>
		</li>  

		<li>
			<h2 class="">Thanks for organising my Pondicherry vacation so well. It was a very good trip – smoothly organised, and very prompt responses from your team. I'll definitely book my next vacation through you guys :)</h2>
			<h3 class="">
				<div id="testimonial-photo-abhijitnath"></div>
				<span class="testimonial-author">Abhijit Nath</span>, IIM, Ahmedabad
			</h3>
		</li> 

		<li>
			<h2 class="">My stay was great and I loved the way in which my entire trip was organized! I'm coming back soon for another holiday in Goa in August or September!</h2>
			<h3 class="">
				<div id="testimonial-photo-male"></div>
				<span class="testimonial-author">Shammu Balaguru</span>, Trade and Marketing Manager at MAERSK, Chennai
			</h3>
		</li>

		<li>
			<h2 class="">You just made my vacation. The homely feeling of the villa, the people...it was just perfect! We all thank you for this. Looking forward for more such experiences!</h2>
			<h3 class="">
				<div id="testimonial-photo-sampadageiji"></div>
				<span class="testimonial-author">Sampada Geiji</span>, Senior Manager at Adlabs Entertainment, Mumbai
			</h3>
		</li> 

		<li>
			<h2 class="">Our group of 17 couples had a wonderful time! Thank you very much!</h2>
			<h3 class="">
				<div id="testimonial-photo-female"></div>
				<span class="testimonial-author">Nishita Mahesh</span>
			</h3>
		</li> 

		<li>
			<h2 class="">Team Myoki, just wanted to thank you – we had a wonderful stay at the Kashid Villa!</h2>
			<h3 class="">
				<div id="testimonial-photo-female"></div>
				<span class="testimonial-author">Parul Bahuguna</span>, Director at Babble Fish Productions
			</h3>
		</li> 

		<li>
			<h2 class="">My vacation with Myoki was really great! Thanks and keep suggesting such holidays!!</h2>
			<h3 class="">
				<div id="testimonial-photo-viharpatkar"></div>
				<span class="testimonial-author">Vihar Patkar</span>, Creative Director at Rediffusion-YR
			</h3>
		</li> 

	</ul>

</section><!-- testimonials-section -->