<section class="visual">

	<div class="frame">

		<div id="pitch">
		
			
			<div id="pitch-inner"></div>
			<div id="pitch-inner2"></div>
			<div id="places">

				<div id="pitch-line-1">Travel to the most</div>
				<div id="pitch-line-2">gorgeous hideaways</div>
				<div id="pitch-line-3">in</div>
				<div id="pitch-arrow"></div>
					
				<div class="places-list-small">
							
					<div class="primary-button">
								
						<span>India</span>
						
						{embed="modules/states-dropdown"}

					</div>

				</div>

	    </div>

	</div>		
	
    </div>

</section><!-- visual -->