<section class="visual">

	<div class="frame">

		<div id="pitch">

			<h1>Discover & travel to the most <span>gorgeous</span> getaways in India</h1>
		
			<div id="places">
					
				<div class="places-list-small">
							
					<div class="primary-button">
								
						<span>Find a getaway</span>
						
						{if group_id == "1"}
              {embed="modules/states-dropdown" preview="open|closed"}
            {if:else}
              {embed="modules/states-dropdown" preview="open"}
            {/if}

					</div>

				</div>

	    </div>

	</div>		
	
    </div>

</section><!-- visual -->