<section id="home-newsletter">
	
	<h3>Subscribe to the Myoki newsletter</h3>
	<div>Discover India's best-kept secrets – from Rajasthani palaces to charming forest lodges nestled within Goa's lush greens. Delivered every (other) fortnight, we painstakingly craft our issues for just the right amount of wanderlust – subscribe now!</div>

	<div id="newsletter-stamp"></div>

	<form action="https://myoki.createsend.com/t/t/s/hylhlh/" class="form01" method='post' target='_blank'>

		<fieldset>
			<input  class="email" id='fieldEmail' name='cm-hylhlh-hylhlh' type="email" required='required' value="" placeholder="Email address" />
			<input type="submit" value="Subscribe" class="submit" name='subscribe'/>
		</fieldset>

	</form>

<!-- Older code for Mailchimp -->
	<!--	<form action="//myoki.us5.list-manage.com/subscribe/post?u=b5d379e7c492991cca0269739&amp;id=da5a04a40d" class="form01" id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' target='_blank'>

		<fieldset>
			<input  class="email" id='mce-EMAIL' name='EMAIL' type="email" required='required' value="" placeholder="Email address" />
			<input type="submit" value="Subscribe" class="submit" id='mc-embedded-subscribe' name='subscribe'/>
		</fieldset>
	</form> -->

</section>
