<section id="plan-visual">

	<div id="plan-frame">

		<div id="plan-pitch">
			
			<h1>Travel without the hassle</h1>
			<h2 class="first-para">
				Research says the best money you can spend is on experiences like travel. We’re no scientists, but that sounds just about right to us :)
			</h2>
			<h2>
				Let us take the boring bits like budgets, reservations, etc off your hands so you can focus on the important stuff – losing yourself in a new place.
			</h2>
		      
		</div>		
	
    </div>

</section>