<section id="plan-visual">

	<div id="plan-frame">

		<div id="plan-pitch">
			
			<h1>Travel without the hassle</h1>
			<h2 class="first-para">
				According to recent research, the best money you can spend is on experiences like travel. We’re no scientists, but that sounds just about right to us <span id="pitch-smiley">:)</span>
			</h2>
			<h2>
				With Chekin's trip planning service, you can stop worrying about budgets, reservations & schedules, and instead focus on the important stuff – the wonders of a new place.
			</h2>
		      
		</div>		
	
    </div>

</section>