<div class='places-dropdown'>
	<div class='places-dd-content'>
		{exp:channel:entries channel="state" orderby="date" sort="asc" dynamic="no"}
			{exp:channel_images:images entry_id="{entry_id}"}
				<a href="{site_url}{url_title}/"><div style="background:url('{image:url:state_web}') repeat scroll 50% 50% #FFFFFF;" class="places-dd-item">
					<div class="place-inner">
						<h1>{title}</h1>
					</div>
				</div></a>
			{/exp:channel_images:images}
		{/exp:channel:entries}
		<div class='places-dd-footer'>
			<p>Live free, stay curious!</p>
		</div>
	</div>
</div>